{% extends "kosmos/layout.html" %}

{% block content %}

<ul class="breadcrumb">
    <li><a href="{{ url_for('.index') }}">Home</a></li>
    <li class="active">{{execution}}</li>
</ul>

<dl class="dl-horizontal">
    {% for k,v in execution.attrs_as_dict().items() %}
    <dt>{{k}}</dt>
    <dd>{{v}}</dd>
    {% endfor %}

    {% for k,v in execution.info.items() %}
    <dt>info.{{k}}</dt>
    <dd>{{v}}</dd>
    {% endfor %}

    <dt>output_dir</dt>
    <dd>execution.output_dir</dd>
    <dt>Visualize</dt>
    <dd>
        <a href="{{ url_for('.taskgraph',id=execution.id, type='task') }}">
            <button type="button" class="btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-eye-open"></span> TaskGraph
            </button>
        </a>
        <a href="{{ url_for('.taskgraph',id=execution.id, type='recipe') }}">
            <button type="button" class="btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-eye-open"></span> StageGraph
            </button>
        </a>

    </dd>
</dl>


<div class="panel panel-primary">
    <div class="panel-heading">
        <span class="pull-right"></span>

        <h3 class="panel-title">{{execution}}.stages</h3>
    </div>
    <div class="panel-body">
        <table class="table table-condensed table-striped datatable" id="table_expected">
            <thead>
            <tr>
                <th>#</th>
                <th>stage</th>
                <th>successful</th>
                <th>status</th>
                <th>tasks</th>
                <th>progress</th>
                <th>avg(%_cpu)</th>
                <th>avg(cpu_req)</th>
                <th>avg(avg_rss_mem)</th>
                <th>avg(mem_req)</th>
                <th>avg(wall_time)</th>
                <th>avg(cpu_time)</th>
                <th>relationship</th>
                <th>action</th>
            </tr>
            </thead>
            <tbody>
            {% for s in execution.stages %}
            <tr>
                <td>{{s.number}}</td>
                <td><a href="{{ s.url  }}">{{ s }}</a></td>
                <td>{{s.successful|to_thumb}}</td>
                <td>{{ s.status }}</td>
                <td>{{ s.num_successful_tasks() }}/{{ s.tasks|length }}</td>
                <td>
                    <div class="progress progress-striped">
                        <div class="progress-bar" role="progressbar"
                             aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                             style="width: {{s.percent_successful()}}%"><span class="sr-only">{{s.percent_successful()}}% Complete</span>
                        </div>
                    </div>
                </td>
                <td>{{s|stage_stat('percent_cpu', 'avg')}}</td>
                <td>{{s|stage_stat('cpu_req', 'avg')}}</td>
                <td>{{s|stage_stat('avg_rss_mem', 'avg')}}</td>
                <td>{{s|stage_stat('mem_req', 'avg')}}</td>
                <td>{{s|stage_stat('wall_time', 'avg')}}</td>
                <td>{{s|stage_stat('cpu_time', 'avg')}}</td>
                <td>{{ s.relationship_type }}</td>
                <td>
                    <a href="{{ url_for('kosmos.stage_delete', ex_id=s.execution_id, stage_name=s.name) }}"
                       onclick="return confirm('This will delete all files associated with {{s}}.  Are you sure?')">
                        <button type="button" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-remove"></span> delete
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>


{% endblock %}