{% extends "cosmos/layout.html" %}
{% block content %}

    <ul class="breadcrumb">
        <li><a href="{{ url_for('.index') }}">Home</a></li>
    </ul>


    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="pull-right"></span>

            <h3 class="panel-title">Workflows</h3>
        </div>
        <div class="panel-body">

            <table class="table table-condensed table-striped datatable" id="table_expected">
                <thead>
                <tr>
                    <th>workflow</th>
                    <th>successful</th>
                    <th>status</th>
                    <th>created_on</th>
                    <th>finished_on</th>
                    <th>wall time</th>
                    <th>action</th>
                </tr>
                </thead>
                <tbody>
                {% for e in workflows %}
                    <tr>
                        <td><a href="{{ e.url }}">{{ e }}</a></td>
                        <td>{{e.successful|to_thumb}}</td>
                        <td>{{e.status}}</td>
                        <td>{{ e.created_on|datetime_format }}</td>
                        <td>{{ e.finished_on|datetime_format }}</td>
                        <td>{% if e.finished_on %}{{ (e.finished_on - e.created_on|or_datetime_now) }}{% endif %}</td>
                        <td>
                            <div class="btn-group btn-group-xs">
                                <button type="button" class="btn btn-default">
                                    <a href="{{ url_for('cosmos.workflow_delete', id=e.id) }}"
                                       onclick="return confirm('This will delete all files associated with {{ e }}.  Are you sure?')">
                                        <span class="glyphicon glyphicon-remove"></span> delete
                                    </a></button>
                            </div>

                            <ul class="nav nav-pills">
                                <li>
                                    {% if e.info['type'] != 'Read Simulation' %}
                                    {% endif %}
                                </li>
                                <li>

                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>


{% endblock %}