{% extends "cosmos/layout.html" %}
{% block title %}
    {{ task }}
{% endblock %}

{% macro long_list(items) -%}
    <ul>
        {% if items|length >5 %}
            {% for p in items[:4] %}
                <li><a href="{{ p.url }}">{{ p }}</a></li>
            {% endfor %}
            <li>({{ items|length }} total)...</li>
        {% else %}
            {% for p in items %}
                <a href="{{ p.url }}">{{ p }}</a><br/>
            {% endfor %}
        {% endif %}
    </ul>
{%- endmacro %}


{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ url_for('.index') }}">Home</a></li>
        <li><a href="{{ task.workflow.url }}">{{ task.workflow }}</a></li>
        <li><a href="{{ task.stage.url }}">{{ task.stage }}</a></li>
        <li class="active">&lt;Task[{{ task.id }}]&gt;</li>
    </ul>
    <div class="row">
        <div class="col-md-6">
            <h3>Attributes</h3>
            <dl class="dl-horizontal">
                <dt>status</dt>
                <dd><strong>{{ task.status }}</strong></dd>
                <dt>successful</dt>
                <dd>{{ task.successful }}</dd>
                <dt>log_dir</dt>
                <dd>{{ task.log_dir }}</dd>
                <dt>core_req</dt>
                <dd>{{ task.core_req }}</dd>
                <dt>mem_req</dt>
                <dd>{{ task.mem_req }}</dd>
                <dt>time_req</dt>
                <dd>{{ task.time_req }}</dd>
                <dt>submitted_on</dt>
                <dd>{{ task.submitted_on|datetime_format }}</dd>
                <dt>finished_on</dt>
                <dd>{{ task.finished_on|datetime_format }}</dd>
                <dt>attempt</dt>
                <dd>{{ task.attempt }}</dd>
                <dt>must_succeed</dt>
                <dd>{{ task.must_succeed }}</dd>
                <dt>drm</dt>
                <dd>{{ task.drm }}</dd>
                <dt>drm_native_specification</dt>
                <dd>{{ task.drm_native_specification }}</dd>
                <dt>drm_job_id</dt>
                <dd>{{ task.drm_jobID }}</dd>
                <dt>NOOP</dt>
                <dd>{{ task.NOOP }}</dd>

            </dl>
        </div>
        <div class="col-md-6">
            <h3>Tags</h3>


            <dl class="dl-horizontal">
                {% for k,v in task.params.items() %}
                    <dt>{{ k }}</dt>
                    <dd>{{ v }}</dd>
                {% endfor %}
            </dl>

            <h3>IO</h3>
            <dl class="dl-horizontal">

                {% for tf in task.input_files %}
                    <dt>input file</dt>
                    <dd>{{ tf }}</dd>
                {% endfor %}
                {% for tf in task.output_files %}
                    <dt>output file</dt>
                    <dd>{{ tf }}</dd>
                {% endfor %}
            </dl>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Dependencies</h3>
            <dl class="dl-horizontal">
                <dt>parents</dt>
                <dd>
                    {{ long_list(task.parents) }}
                </dd>
                <dt>children</dt>
                <dd>
                    {{ long_list(task.children) }}
                </dd>
            </dl>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="pull-right">{{ task.output_command_script_path }}</span>

            <h3 class="panel-title">Command</h3>
        </div>
        <div class="panel-body">
            <pre>{{ task.command_script_text }}</pre>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <span class="pull-right">{{ task.output_stdout_path }}</span>

            <h3 class="panel-title">STDOUT</h3>
        </div>
        <div class="panel-body">
            <pre>{{ task.stdout_text }}</pre>
        </div>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <span class="pull-right">{{ task.output_stderr_path }}</span>

            <h3 class="panel-title">STDERR </h3>
        </div>
        <div class="panel-body">
            <pre>{{ task.stderr_text }}</pre>

        </div>
    </div>

    <h2>Resources</h2>
    <table class="table table-striped table-condensed">
        <tbody>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tbody>
        {% for field, value in resource_usage %}
            <tr>
                <td>{{ field| replace('_kb','') }}</td>
                <td>{{ field|format_resource_usage(value) }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}