{% extends "cosmos/layout.html" %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="{{ url_for('.index') }}">Home</a></li>
    <li><a href="{{ workflow.url }}">{{workflow}}</a></li>
    <li class="active">taskgraph</li>
</ul>
<p>
{% if type == 'task' %}
    <a href="{{ url_for('.taskgraph', id=workflow.id, type='recipe') }}">
        <button type="button" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-eye-open"></span> StageGraph
        </button>
    </a>
{% else %}
    <a href="{{ url_for('.taskgraph', id=workflow.id, type='task') }}">
        <button type="button" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-eye-open"></span> TaskGraph
        </button>
    </a>
{% endif %}
</p>
        {{svg}}

{#
    <div class="center-block">
        <object type="image/svg+xml" data="{{ url_for('.taskgraph_svg', id=workflow.id, type=type) }}"></object>
    </div>
#}

{% endblock %}